.popular-provinces-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardContainer {
  width: 100%;
  max-width: 65%;
  margin-top: 5rem;
}
.cardContainer h2 {
  font-weight: bold;
}
.cardContainer h6 {
  font-weight: bold;
}
.cardContainer p {
  font-size: 1.2rem;
}